:root {
  --main-btr-color: #212121;
  --second-btr-color: #f5f4fa;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-babackground-color: #e5e5e5;
  --second-babackground-color: #f5f4fa;
  --heder-babackground-color: #ffffff;
  --footer-babackground-color: #2f303a;
  --hero--babackground-color: #2f303a;
  --adress-color: #757575;
  --heder-text-color: #212121;
  --footer-text-color: #ffffff;
}
